.meals-container{
    width: 70rem;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    font-family: 'Rubik', sans-serif;


    background-image: linear-gradient(180deg ,rgba(220, 255, 193, 0.9)  , rgba(230, 125, 34, 0.3)) ,url('../../Assets/header_img.jpg'); 
    background-size: cover;
    
    border-radius: .6rem;

}