.cartButton{
    position: relative;
    top: 0.6rem;
    right: -0.5rem;
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    cursor: pointer;
    /* background-color: #FBFACD; */
}

.cart_icon{
    width: 2rem;
}

.items{
    position:absolute;
    top: 1px;
    left: 34px;
    background-color: #fb4a2b;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    text-align: center;
    font-size: large;
    padding-top: 1.2px;

    border: 1px solid;
}
